<div intro="animate:fadeInDown" outro="animate:fadeOutUp">
  <div class="page-header">
    <h1>[[t('app.title')]]</h1>
    <h2>
      <i class="fa fa-fw fa-info-circle"></i>
      [[t('about.title')]]
    </h2>
    <hr>
    <p>{{message}}</p>
  </div>
  <div class="row">
    <a class="btn btn-default" on-click="increment">
      [[t('app.increment')]]
    </a>
    <a href="/" class="btn btn-info">
      [[t('about.back')]]
    </a>
  </div>
</div>
