div(intro="animate:fadeInDown", outro="animate:fadeOutUp")
  .page-header
    h1 [[t("app.title")]]
    h2
      i.fa.fa-fw.fa-info-circle
      | [[t("markup.title")]]
    hr
    p {{message}}
  .row
    .col-sm-6
      textarea.form-control(value="{{markdown}}", placeholder="[[t('markup.placeholder')]]")
    .col-sm-6
      // Triple brackets are needed to render unescaped HTML
      {{{md(markdown)}}}
  hr
  .row
    a.btn.btn-info(href="/") [[t("markup.back")]]

