<div class="list-group">
  <div class="list-group-item">
    {{t('sidebar.count')}}
    <span class="badge">{{clicks}}</span>
  </div>
  <a href="/" class="list-group-item">
    <i class="fa fa-fw fa-home"></i>{{t('sidebar.home')}}
  </a>
  <a href="about" class="list-group-item">
    <i class="fa fa-fw fa-info-circle"></i>{{t('sidebar.about')}}
  </a>
</div>
